.home-footer {
    height: 80px;
    background: #64b9e5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;

    p {
        padding-top: 10px;
        font-size: 17px;
    }

    .social {
        display: flex;

        i {
            padding-right: 10px;
            font-size: 35px;
            cursor: pointer;
        }
    }
}